/* Defaults */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
    color: #131313;
    text-align: center;
    line-height: 1;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 1vw;
}

p {
    line-height: 1.5;
    font-size: 2vw;
}

figure figcaption {
    text-align: center;
    font-size: 1.5vw;
}

li {
    list-style-type: none;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.row {
    margin: 0 auto;
    width: 100%;
    min-width: 800vw;
}

.text--color {
    color: #F7971E;  
    color: -webkit-linear-gradient(to right, #FFD200, #F7971E);  
    color: linear-gradient(to right, #FFD200, #F7971E); 
}

/* Nav Bar */

nav {
    height: 8vw;
    width: 100%;
    position: fixed;
    overflow: hidden;
    min-width: 10vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10%;
    padding-left: 10%;
}

.nav__link--list {
    display: flex;
    padding-right: 5%;
}

.nav__link--anchor {
    font-size: 1.5vw;
    margin: 1vw;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
}

.link__hover-effect:hover {
    color: #F7971E;  
    color: -webkit-linear-gradient(to right, #FFD200, #F7971E);  
    color: linear-gradient(to right, #FFD200, #F7971E); 
    transition: all 0.3s ease;
}

.nav__link--anchor-primary {
    background: #F7971E;  
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  
    background: linear-gradient(to right, #FFD200, #F7971E); 
    padding: 15% 20% 15% 20%;
    border-radius: 2vw;
    color: white;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background: black;
}

.logo__name {
    font-size: 2.75vw;
    color: #F7971E;  
    color: -webkit-linear-gradient(to right, #FFD200, #F7971E);  
    color: linear-gradient(to right, #FFD200, #F7971E); 
    font-weight: bold;
    padding-left: 5%;
}

/* Home */

#home {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
  }
  
.centered {
    display: table;
    margin: 0 auto;
    max-width: 100%
  }
  
.left__side {
    display: table-cell;
    vertical-align: top;
  }
  
.right__side {
    display: table-cell;
    vertical-align: top;
  }

.home__picture--mask {
    width: 55%;
    height: 65%;
    border-radius: 10%;
    overflow: hidden;
    box-shadow: 0 1vw 1vw rgba(0, 0, 0, 0.24);
    margin-top: 20%;
    align-content: center;
}

.home__picture {
    width: 100%;
}

.home__title {
    font-size: 5vw;
    text-align: left;
    margin-top: 20%;
}

.home__info--p {
    margin-top: 8%;
}

.home__linkedin {
    font-size: 3vw;
    margin-top: 8%;
}

/* Projects */

/* .section__text {

} */

.section__container {
    margin: 0 auto;
    padding-left: 15%;
    padding-right: 20%;
    padding-bottom: 7%;
    padding-top: 2%;
}

.section__title {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: left;
}

.section__desc {
    font-size: 1.5vw;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: left;
}
 
.pdf__container {
    margin: 0 auto;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 7%;
}

.project__title {
    color: #F7971E;  
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: left;
}

.project__title__2 {
    text-align: left;
    font-size: 1.7vw;
}

.project__desc {
    font-size: 1.5vw;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: left;
    font-weight:normal;
}