/* Defaults */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
    color: #131313;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 50px;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

li {
    list-style-type: none;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.row {
    margin: 0 auto;
    width: 100%;
    min-width: 800px;
}

.text--color {
    color: #F7971E;  
    color: -webkit-linear-gradient(to right, #FFD200, #F7971E);  
    color: linear-gradient(to right, #FFD200, #F7971E); 
}

/* Nav Bar */

nav {
    height: 100px;
    width: 100%;
    position: fixed;
    overflow: hidden;
    /* max-width: 1000px; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10%;
    padding-left: 10%;
}

.nav__link--list {
    display: flex;
    padding-right: 3%;
}

.nav__link--anchor {
    margin: 20px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
}

.link__hover-effect:hover {
    color: #F7971E;  
    color: -webkit-linear-gradient(to right, #FFD200, #F7971E);  
    color: linear-gradient(to right, #FFD200, #F7971E); 
    transition: all 0.3s ease;
}

.nav__link--anchor-primary {
    background: #F7971E;  
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  
    background: linear-gradient(to right, #FFD200, #F7971E); 
    padding: 15% 20% 15% 20%;
    border-radius: 20px;
    color: white;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background: black;
}

.logo__name {
    font-size: 30px;
    color: #F7971E;  
    color: -webkit-linear-gradient(to right, #FFD200, #F7971E);  
    color: linear-gradient(to right, #FFD200, #F7971E); 
    font-weight: bold;
    padding-left: 3%;
}

/* Home */

#home {
    display: flex;
    flex-direction: column;
}

.home__info--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0, auto;
    text-align: center;
    padding-bottom: 80%;
}

.home__picture--mask {
    width: 20%;
    height: 60%;
    border-radius: 10%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);
    margin-bottom: 2%;
}

.home__picture {
    width: 100%;
}

.home__title {
    margin-bottom: 16px;
}

.home__info--p {
    font-size: 20px;
    margin-bottom: 24px;
}

/* Projects */

/* .section__text {

} */

.section__container {
    margin: 0 auto;
    padding-left: 15%;
    padding-right: 20%;
    padding-bottom: 7%;
    padding-top: 2%;
}

.section__title {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: left;
}

.section__desc {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: left;
}

.pdf__container {
    margin: 0 auto;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 7%;
}

.project__title {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: left;
}

.project__desc {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: left;
}