/* Defaults */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
    color: #131313;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 50px;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

li {
    list-style-type: none;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.text--color {
    color: #F7971E;  
    color: -webkit-linear-gradient(to right, #FFD200, #F7971E);  
    color: linear-gradient(to right, #FFD200, #F7971E); 
}

/* Nav Bar */

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    color: #131313;
    text-decoration: none;
    font-weight: 700;
}

.link__hover-effect:hover {
    color: #F7971E;  
    color: -webkit-linear-gradient(to right, #FFD200, #F7971E);  
    color: linear-gradient(to right, #FFD200, #F7971E); 
    transition: all 0.3s ease;
}

.nav__link--anchor-primary {
    background: #F7971E;  
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  
    background: linear-gradient(to right, #FFD200, #F7971E); 
    padding: 8px 20px;
    border-radius: 30px;
    color: white;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background: black;
}

.logo__name {
    font-size: 30px;
    color: #F7971E;  
    color: -webkit-linear-gradient(to right, #FFD200, #F7971E);  
    color: linear-gradient(to right, #FFD200, #F7971E); 
    font-weight: bold;
}

/* Home */

#home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.home__info--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0, auto;
    text-align: center;
    padding-top: 50px;
}

.home__picture--mask {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);
    margin-bottom: 30px;
}

.home__picture {
    width: 100%;
}

.home__title {
    margin-bottom: 16px;
}

.home__info--p {
    font-size: 20px;
    margin-bottom: 24px;
}

/* Projects */

.section__title {
    padding-bottom: 50px;
}

.pdf__container {
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
}
